*{
    box-sizing: border-box;
}
body{
    background-color:white;
}
h1{
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 175%;
    color: rgb(15, 16, 16);
}
section{
    position: relative;
    padding: 15px;
    width: 100%;
}
div{
    position: relative;
    background-color: rgb(185, 185, 230);
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.s1{
    float:right;
    width: 70px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(217, 143, 130);

}
.s2{
    float:right;
    width: 70px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(217, 143, 130);

}
.s3{
    float:right;
    width: 70px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(217, 143, 130);

}
.content{
    padding: 5px;
    border: none;
    background-color: rgb(220, 213, 213);
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
    clear: right;
}
.row{
    width: 90%;
}


/*destop version*/

@media (min-width: 992px) {
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/

@media (min-width: 768px) and (max-width:991px) {
    .col-md-6{
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md-12{
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/

@media (max-width: 767px) {
    .col-sm-12{
        float: left;
        width: 100%;
    }
}